<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <input type="checkbox" v-model="checked">
        <p>{{message}}</p>

    </div>
    <script src="../vue.js"></script>
    <script>
        var message = 'hello xiaoxie';
        var vm = new Vue({
            el:'#app',
            data:{
                message,
                checked:true
            },
            methods:{
                
            }
        })
        console.log(vm);
    </script>
</body>
</html>