
<!-- 分页 -->
<nav>
    <ul class="pager">
      <li class="previous"><a href="/admin/user?page={{page-1}}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
      <li>
          一共有&nbsp<i style="font-weight: bold;">{{count}}</i>&nbsp条数据，
          每页显示&nbsp<i style="font-weight: bold;">{{limit}}</i>&nbsp条数据，
          一共有&nbsp<i style="font-weight: bold;">{{pages}}</i>&nbsp页，
          当前为第&nbsp<i style="color:brown;font-weight: bold;">{{page}}</i>&nbsp页
      </li>
      <li class="next"><a href="/admin/user?page={{page+1}}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>